body{
    background: #91CCCA;
    background: -moz-linear-gradient(left, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
    background: -webkit-linear-gradient(left, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
    background: linear-gradient(to right, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
}