body{
    background: #91CCCA;
    background: -moz-linear-gradient(left, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
    background: -webkit-linear-gradient(left, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
    background: linear-gradient(to right, #91CCCA 0%, #7CB9E8 50%, #7585E8 100%);
}
 main{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 h1{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #BC52FF;
 }
 h2{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #BC52FF;
 }
 p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #212C3C;
 }
 dd{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #10FF6A;
 }
 h3{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #BC52FF;
 }
 .icons img{
    height: 60px;
    width: 60px;
 }
  a:hover{
  background-color: #FF00FF;
}
  .SpaceX img{
   height: 192px;
   width: 108px;
  }
  h4{
   font-family: "Arial Black", Gadget, sans-serif;
   font-size: 18px;
   letter-spacing: 1px;
   word-spacing: 2px;
  }
  .StarTrek img{
   height: 192px;
   width: 108px;
  }

 